/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
    color: #031997
}
header {
    color: #fff;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center bottom;
    
    background-image: url(immagine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li {
    display: inline;
    padding: 4px 8px;
    font-size: 22px;
    text-transform: uppercase;
    margin-left: 15px;
}
#menu a {
    color: #fff;
    text-decoration: none;
    transition: color 1s;
}
#menu a:hover {
    color: blue;
    text-decoration: underline;
}
.top-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
    align-items: center;
}
body {
    margin: 0;
    /* background-image: url(immagine.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

@media (min-width:768px) {
    #menu li{
        display: inline;
    }
    header{
        height: 70vh;
    }
}

footer{
    height: 30vh;
    
    display: flex;
    color: #333;
    background-color: #eee;
    padding: 1rem;  
}
footer a{
    color: #666;
    text-decoration: none;
}
.left{
    
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.left p{
    margin-left: 5px;
}
.middle-left{
    
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.middle-left ul{
    padding: 0px;
    margin-bottom: 0px;
}
.middle-left li {
    list-style: none;
    margin-top:  10px;
    
}

.middle-right{
    
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.middle-right ul{
    padding: 0px;
    margin-bottom: 0px;
}
.middle-right li {
    list-style: none;
    margin-top:  10px;
    
}

.right{
    
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right li{
    list-style: none;
    display: inline;
    margin-left: 20px;
    
}
.right ul{
    padding-left: 0px;
}
main h1,h2{
    text-align: center;
}
.articles{
    margin-left: 20px;
}

.articles__wrapper{
    display: flex;
    width: 100%;
    
}
.articles article{
    /* width: 100%; */
   width: 400px;
   height: 500px;
    
}

.articles img {
    width: 400px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
/* #right-article{
    margin-left: 10%;
} */

.articles a {
    text-decoration: none;
    background-color: #c61620;
    color: #fff;
    padding: 4px 10px;
}

.articles a:hover {
    background-color: #ff6666;
}

.articles__wrapper {
    justify-content: space-evenly;
}

.articles h3 {
    text-align: center;
    text-transform: uppercase;
    color: #888;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    #menu li {
        display: inline;
    }

    header {
        height: 80px;        
    }

    .homepage header {
        height: 80vh;
    }
}

.page main{
    width: 900px;
    margin: 0 auto;
}

.form-wrapper label{
    width: 50%;
    display: inline-block;
}

.form-wrapper div{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.form-wrapper{
    width: 500px;
    margin: 2rem auto;
    
}

.form-wrapper input ,
.form-wrapper select{
    width: 50%;
    padding: 4px;

}

.form-wrapper .align-column{
   flex-direction: column;
}

.form-wrapper input[type="submit"]{
    margin-left: 50%;
}